<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>Contrato de Servicios Fotovoltaicos</title>

  <style>
    @page {
      size: A4;
      margin: 2.5cm;
    }

    body {
      font-family: "Arial", serif;
      font-size: 12pt;
      line-height: 1.2;
      text-align: justify;
    }

    h1,
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 16pt;
    }

    h2 {
      font-size: 14pt;
    }

    p {
      margin-bottom: 12px;
    }

    .section-title {
      display: flex;
      font-weight: bold;
      text-transform: uppercase;
      align-items: center;
      justify-content: center;
      margin-top: 24px;
    }

    .account-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin: 16px 0;
    }

    th,
    td {
      border: 1px solid #000;
      padding: 6px;
      vertical-align: top;
    }

    th {
      background-color: #292929;
      color: azure;
      text-align: center;
    }

    .page-break {
      page-break-before: always;
    }

    .signature-table {
      width: 100%;
      border: none;
      margin-top: 80px;
    }

    .signature-table td {
      border: none;
      text-align: center;
      padding-top: 40px;
    }

    .cover-header {
      text-align: center;
      margin-bottom: 20px;
      border-bottom: 3px solid black;
    }

    .cover-header img {
      width: 200px;
      height: auto;
      margin-bottom: 10px;
    }

    .cover-header hr {
      border: none;
      border-top: 2px solid #000;
      margin: 0 auto;
      width: 100%;
    }

    .highlight-row {
      background-color: #c7c5c5
    }

    .directions-section {
      display: flex;
      flex-direction: column;
    }
  </style>
</head>

<body>

  <!-- ===================== PORTADA ===================== -->

  <div class="cover-header">
    <img src="{{logoVolt}}" alt="Volt Factory Logo" />
  </div>

  <h3>
    CONTRATO DE SERVICIOS PARA EL DISEÑO, TRAMITACIÓN, SUMINISTRO E INSTALACIÓN
    DE UNA PLANTA FOTOVOLTAICA DE AUTOCONSUMO DE {{produccion_anual}}Kw/Año
  </h3>

  <div class="section-title">PARTES</div>

  <p>
    • <strong>{{nombre}}</strong>, {{genero}}, {{nacionalidad}}, mayor de edad, con {{tipo_doc}} de
    identidad personal número {{numero_doc}}, con domicilio en residencial
    {{ubicacion}} {{calle}}, Distrito {{distrito}} y Provincia de {{provincia}},
    quien se denominará en adelante como <strong>“EL CLIENTE”</strong> para los efectos de este contrato.
  </p>

  <p>
    <strong>ROBLES BERROCAL INVESTMENTS, S.A. (VOLT FACTORY)</strong>, Sociedad Anónima panameña,
    debidamente inscrita en el Registro Público de Panamá, identificada con ficha real número 155727958, con Aviso de
    Operación Número 2022-574311467,
    representada en este acto por la señora quien se denominará <strong>MONSERRAT HAYDEE ROBLES GUARDIA</strong>, mujer
    panameña, casada, mayor de edad,
    con cédula de identidad personal número 8-830-1601, con oficinas en Dorado City Center, Nivel 300 Local 301, Vía
    Ricardo J. Alfero, Distrito y Provincia
    de Panamá, quien se denominará en adelante como <strong>“EL PROVEEDOR”</strong> para los efectos de este contrato.
  </p>

  <p>
    <strong>EL CLIENTE y EL PROVEEDOR</strong> se denominarán conjuntamente como las <strong>“PARTES”</strong> e
    individualmente como la
    <strong>“PARTE”</strong>, y han acordado celebrar el siguiente <strong>Contrato de diseño, suministro, instalación y
      mantenimiento de equipos
      para un proyecto de una Planta de Generación de Energía Fotovoltaica</strong> (en adelante el “Contrato”), que se
    regirá por
    las siguientes:
  </p>

  <!-- ===================== CLAUSULAS ===================== -->

  <div class="section-title">CLÁUSULAS</div>

  <p>
    <strong>PRIMERA: ALCANCE DE LOS SERVICIOS.</strong>
    se obliga a través de su equipo técnico e idóneo a desarrollar la ingeniería necesaria, para instalar al
    <strong>CLIENTE</strong> una
    Planta Fotovoltaica destinada a alcanzar la generación de energía en la propiedad del <strong>CLIENTE</strong>, con
    una potencia de
    <strong>{{produccion_anual}} anual Kw/Año</strong>, conforme al consumo promedio y al espacio del
    <strong>CLIENTE</strong>, mediante los siguientes entregables:
  </p>

  <ul>
    <li>1. Elaboración del diseño y Planos del Sistema Fotovoltaico, que serán confeccionados por el profesional idóneo
      del <strong>PROVEEDOR.</strong></li>
    <li>2. Tramitar las aprobaciones de Planos ante las Autoridades Administrativas Competentes (Municipio y Bomberos).
    </li>
    <li>3. Suministrar los Equipos y los materiales para la instalación, puesta en marcha y mantenimiento de la Planta
      Fotovoltaica.</li>
    <li>4. Tramitar la aprobación de la Empresa Distribuidora al medidor bidireccional para la puesta en marcha del
      sistema de inyección a la red.</li>
  </ul>

  <p>
    El <strong>PROVEEDOR</strong> ejecutara las tareas antes descritas conforme a lo estipulado en este Contrato, lo que
    es aceptado en
    este acto por el <strong>CLIENTE</strong> quien en contraprestación se obliga especialmente a pagar el Precio del
    Contrato y a operar
    los Equipos según las indicaciones técnicas del <strong>PROVEEDOR</strong> y el Manual de los equipos del Sistema.
  </p>


  <p>
    <strong>SEGUNDA: CONSIDERACIONES PREVIAS. LAS PARTES</strong>
    acuerdan que para efectos del presente contrato se cumplirán con las siguientes consideraciones:
  </p>
  <ul>
    <li>1. Que, el <strong>PROVEEDOR</strong> cuenta con la capacidad jurídica, técnica y económica, así como los
      conocimientos,
      experiencia profesional, organización adecuada, recursos técnicos y el personal que se requieren para ejecutar los
      trabajos objeto del Contrato, conforme se detalla en el presente documento y sus anexos.</li>
    <li>2. Que, el <strong>CLIENTE</strong> ostenta la propiedad o la tenencia del Sitio de Instalación y puede disponer
      libremente de los elementos que componen dicho inmueble, necesarios para la ejecución del Contrato.
    </li>
  </ul>

  <!-- ===================== DESGLOSE DE SUMINISTROS ===================== -->

  <p class="section-title">TERCERA: DESGLOSE DE SUMINISTROS</p>
  <table>
    <thead>
      <tr>
        <th>Equipo</th>
        <th>Cantidad</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      {{equipos_html}}
    </tbody>
  </table>
  <p>
    <strong>PARAGRAFO:</strong>
    Las PARTES acuerdan que se incorpora al presente Contrato el Anexo 4 - Especificaciones Técnicas, el cual contendrá
    para cada equipo listado la marca, modelo y ficha técnica correspondiente. Dicho Anexo formará parte integral del
    Contrato y deberá ser entregado por el PROVEEDOR antes del inicio de la instalación.
    En caso de requerirse cambios de equipos por motivos técnicos o de disponibilidad, el PROVEEDOR deberá notificarlo
    por escrito al CLIENTE, presentando opciones de igual o superior especificación técnica para aprobación previa, y
    actualizar el Anexo 4 con la descripción del nuevo equipo aprobado, sin que esto genere cambios en el precio del
    proyecto contratado para el CLIENTE.
  </p>


  <p>
    <strong>CUARTA: PRESTACIÓN ECONÓMICA:</strong>
    El valor del proyecto incluyendo: i. Diseños de planos, ii. Trámite de aprobación de planos ante Municipio y
    Bomberos, iii. Equipos, Insumos y mano de obra, iv. Tramite de Medidor Bidireccional, es por un total de
    <strong>{{monto_letras}} BALBOAS {{monto_numero}}.</strong>
  </p>

  <!-- ===================== PAGO ===================== -->

  <p class="section-title">CUARTA: PRESTACIÓN ECONÓMICA</p>
  <p>
    El valor total del proyecto es de <strong>{{monto_letras}} BALBOAS
    ({{monto_numero}}).</strong>
  </p>


  <p class="section-title">QUINTA: FORMA DE PAGO. EL CLIENTE deberá pagar de la siguiente manera:</p>
  <table>
    <tr>
      <th>Pagos</th>
      <th>Servicio</th>
    </tr>
    <tr>
      <td><strong>20% (B/.{{monto_veinte}})</strong></td>
      <td>A la firma del Contrato, para diseño de Planos y trámite de aprobación de planos ante Municipio y Bomberos.
      </td>
    </tr>
    <tr>
      <td><strong>50% (B/.{{monto_cincuenta}})</strong></td>
      <td>Para dar inicio a la instalación del Sistema Fotovoltaico.</td>
    </tr>
    <tr>
      <td><strong>20% (B/.{{monto_veinte}})</strong></td>
      <td>Inmediatamente después de la instalación.</td>
    </tr>
    <tr>
      <td><strong>10% (B/.{{monto_diez}})</strong></td>
      <td>Este pago se efectuará al momento del cambio del medidor bidireccional por parte de la Empresa Distribuidora
        de Energía y la puesta en marcha del sistema solar interconectado a la red.</td>
    </tr>
  </table>
  <p>
    <strong>EL CLIENTE</strong> podrá efectuar Los pagos a través de Cheque de gerencia, Tarjeta de Crédito, Yappy
    (Directorio:
    Volt-Factory), transferencia bancaria a la cuenta bancaria siguiente:
  </p>
  <div class="account-info">
    <p>
      Banco: Banco General
    </p>
    <p>Tizo de Cuenta: Cuenta de Ahorros</p>
    <p>Número de Cuenta: 04-31-97-580727-0</p>
    <p>A nombre de: Robles Berrocal Investments, S.A. (VOLT FACTORY)</p>
  </div>
  <p>
    En caso de retraso en los pagos, el <strong>PROVEEDOR</strong> se reserva el derecho de suspender la prestación de
    los servicios
    hasta que los pagos pendientes sean efectuados.
  </p>




  <p class="section-title">SEXTA: FASES DEL PROYECTO. El proyecto se divide en las siguientes etapas y tiempos:</p>
  <table>
    <tr>
      <th>ETAPA</th>
      <th>DESCRIPCION</th>
      <th>TIEMPOS</th>
    </tr>
    <tr class="highlight-row">
      <td><strong>1. Firma del Contrato</strong></td>
      <td>Las <strong>PARTES</strong> suscribirán el presente Contrato para dar inicio a la ejecución de los servicios
        detallados, el
        cual podrá ser suscrito mediante plataformas electrónicas autorizadas como DocuSign.
      </td>
      <td>Un (1) día</td>
    </tr>
    <tr>
      <td><strong>2. Diseño de Planos del sistema</strong></td>
      <td>Posterior a la firma del contrato, <strong>EL PROVEEDOR</strong> dará inicio al desarrollo de diseño de los
        planos
        fotovoltaicos.
      </td>
      <td>De tres (3) a cuatro (4) semanas.</td>
    </tr>
    <tr class="highlight-row">
      <td><strong>3. Instalación</strong></td>
      <td>Una vez efectuado el segundo pago correspondiente al 50% del valor total del contrato, <strong>EL
          PROVEEDOR</strong> procederá
        a realizar la instalación del sistema.
        La fecha de inicio de la instalación deberá ser coordinada previamente entre <strong>EL CLIENTE</strong> y
        <strong>EL PROVEEDOR</strong>.
      </td>
      <td>Una (1) semana.</td>
    </tr>
    <tr>
      <td><strong>4. Trámite de Permisologia</strong></td>
      <td><strong>EL PROVEEDOR</strong> realizara las gestiones de tramitación de permisos ante las Autoridades
        Administrativas para la
        ejecución de las obras, y cambio de Medidor Bidireccional.
      </td>
      <td>De cuatro (4) a Seis (6) meses apróximadamente</td>
    </tr>
    <tr class="highlight-row">
      <td><strong>5. Puesta en Marcha y Finalización del proceso.</strong></td>
      <td><strong>EL PROVEEDOR</strong> dara inicio a la puesta en marcha del sistema de inyección a la red, una vez
        colocado el Medidor
        Bidireccional por la empresa Distribuidora.
      </td>
      <td>Inmediatamente se instale el Medidor Bidireccional.</td>
    </tr>
  </table>

  <p><strong>PARAGRAFO: EL CLIENTE</strong>, luego de la instalación podrá hacer uso del sistema el cual se
    mantendrá configurado en “inyección cero” hasta que se obtenga el cambio de medidor por
    parte de la empresa Distribuidora. Durante este tiempo de “inyección cero”, <strong>EL CLIENTE</strong>
    podrá hacer uso de la energía proveniente de los paneles durante el día para su
    autoconsumo.
  </p>



  <p class="section-title">SEPTIMA: GARANTÍA Y MANTENIMIENTO. EL CLIENTE contará con la garantía de los servicios y
    productos instalados de acuerdo a la siguiente tabla:</p>
  <table>
    <tr>
      <th>EQUIPO/SERVICIO</th>
      <th>GARANTIA</th>
      <th>EJECUCIÓN</th>
    </tr>
    <tr class="highlight-row">
      <td><strong>Módulos Solares</strong></td>
      <td>Garantía del producto de 15 años, garantía de potencia lineal de 30 años.
      </td>
      <td>Ante la existencia de defectos de fábrica en el módulo dentro del período de garantía, <strong>EL
          PROVEEDOR</strong>, previa
        verificación técnica, procederá a reemplazar o reparar el módulo defectuoso sin costo alguno para <strong>EL
          CLIENTE</strong>.
        Para los efectos de esta garantía, se tomará como referencia la ficha técnica del panel solar que se adjunta al
        presente contrato como Anexo 4, a fin de determinar la curva de degradación del módulo fotovoltaico, aceptándose
        un margen de variación de más o menos cinco por ciento (±5%) respecto de dicha curva.</td>
    </tr>
    <tr>
      <td><strong>Microinversor / Inversor</strong></td>
      <td>5 Años
      </td>
      <td>Ante desperfectos de fábrica comprobada del inversor, <strong>EL PROVEEDOR</strong> gestionará su reparación o
        reemplazo por
        equipo de iguales o superiores características técnicas, dentro del plazo de garantía.</td>
    </tr>
    <tr class="highlight-row">
      <td><strong>Materiales y Mano de Obra</strong></td>
      <td>2 Años
      </td>
      <td>Incluye reparaciones por defectos de instalación, como filtraciones o goteras en la zona de montaje de los
        paneles. <strong>EL CLIENTE</strong> notificará por escrito; <strong>EL PROVEEDOR</strong> inspeccionará en un
        máximo de cuarenta y ocho horas
        (48h) y ejecutará las reparaciones necesarias en un máximo de siete (7) días calendario, sin costo para
        <strong>EL CLIENTE</strong>.
        También cubre cualquier corrección derivada de la instalación del Sistema Fotovoltaico.
      </td>
    </tr>
    <tr>
      <td><strong>Estructura de Montaje</strong></td>
      <td>10 Años
      </td>
      <td>Si se detectan defectos en la estructura de soporte atribuibles a fabricación o instalación, <strong>EL
          PROVEEDOR</strong>
        procederá a su reparación o sustitución sin costo, previa inspección técnica.</td>
    </tr>
    <tr class="highlight-row">
      <td><strong>Producción Energética</strong></td>
      <td><strong>EL PROVEEDOR</strong> se compromete a garantizar la producción promedio anual prometida, por el
        termino de tres (3)
        años contados a partir del cambio del medidor bidireccional, por lo cual, en caso que el sistema no cumpla con
        la producción estimada durante el plazo establecido, <strong>EL PROVEEDOR</strong> fortalecera el sistema con
        paneles
        adicionales, microinversores/ inversores y todos los materiales y mano de obra necesarios, sin costo adicional
        para <strong>EL CLIENTE</strong>.
      </td>
      <td>La garantía de producción se evaluará tomando como referencia los parámetros de generación anual establecidos
        en el presente contrato, medidos a través del sistema de monitoreo integrado al equipo.
        <strong>EL CLIENTE</strong> deberá operar y mantener el sistema conforme a las indicaciones técnicas <strong>DEL
          PROVEEDOR</strong>.
        No se considerarán incumplimientos de la garantía las disminuciones de producción ocasionadas por factores
        externos ajenos al <strong>PROVEEDOR</strong>, tales como: fenómenos climáticos extremos, sombras generadas por
        construcciones u
        objetos posteriores a la instalación, falta de limpieza o mantenimiento oportuno por parte <strong>DEL
          CLIENTE</strong>, o
        manipulación no autorizada del sistema.
        Verificado que la producción anual se encuentra por debajo de lo proyectado por causas atribuibles al PROVEEDOR,
        éste deberá, dentro de un plazo máximo de sesenta (60) días calendario, reforzar el sistema mediante la adición
        de los equipos necesarios sin costo adicional para <strong>EL CLIENTE</strong>.
      </td>
    </tr>
  </table>
  <p>
    <strong>PARAGRAFO 1: EL CLIENTE</strong> se compromete a realizar el mantenimiento exclusivamente a través
    <strong>DEL PROVEEDOR</strong> o terceros
    autorizados por este último. Queda estrictamente prohibido recurrir a terceros no autorizados para reparaciones o
    modificaciones. Cualquier incumplimiento de esta cláusula resultará en la pérdida automática de la garantía asociada
    a los productos del sistema. Solo <strong>EL PROVEEDOR</strong> está facultado para autorizar intervenciones
    externas y garantizar la
    durabilidad y funcionamiento óptimo del sistema adquirido.
  </p>
  <p>
    <strong>PARAGRAFO 2:</strong> En caso de que <strong>EL CLIENTE</strong> requiera asistencia técnica por parte de
    <strong>EL PROVEEDOR</strong>, este se compromete a
    brindar una respuesta telefónica en un plazo no mayor a veinticuatro (24) horas, garantizando una atención al
    cliente rápida, eficiente y de calidad, orientada a resolver cualquier incidencia con la mayor prontitud posible.

    En caso de que la situación lo amerite, y sea necesaria una asistencia en campo, <strong>EL PROVEEDOR</strong>
    acudirá al sitio en un
    plazo no mayor a cuarenta y ocho (48) horas desde la solicitud. Si existieran circunstancias de fuerza mayor o
    condiciones logísticas que impidan cumplir dicho plazo, <strong>EL PROVEEDOR</strong> deberá notificar oportunamente
    a <strong>EL CLIENTE</strong> y
    realizará sus mejores esfuerzos para brindar la asistencia técnica en el menor tiempo posible. En todo caso, el
    tiempo máximo para ofrecer atención en campo no deberá exceder de siete (7) días calendario desde la solicitud.
  </p>



  <p class="section-title">OCTAVA: DOCUMENTOS PARA TRÁMITES DE PERMISOLOGIA.</p>
  <p><strong>El CLIENTE</strong> deberá aportar los siguientes
    documentos, para efecto de los trámites de permisología ante las Autoridades Administrativas correspondientes: </p>
  <ul>
    <li>Datos del folio real de la propiedad y código de ubicación.</li>
    <li>Copia de identificación de los propietarios del Inmueble.</li>
    <li>Planos de la propiedad.</li>
  </ul>
  <p>
    <strong>PARAGRAFO 1: EL CLIENTE</strong> deberá obtener la firma de toda los propietarios del inmueble para la
    documentación que se
    requiera por las autoridades, como planos, formularios y demás.
  </p>
  <p>
    <strong>PARAGRAFO 2:</strong> En caso tal <strong>EL CLIENTE</strong> no cuente con los planos originales de la
    propiedad, <strong>EL
      PROVEEDOR</strong> a través de su profesional idóneo le ofrecerá el levantamiento de planos por un cargo adicional
    de <strong>CIENTO
      CIEN BALBOAS (B/.100).</strong>
  </p>



  <p class="section-title">NOVENA: DURACIÓN DEL CONTRATO.</p>
  <p>El presente contrato se celebra por el término de Un (1) año contados desde la firma del mismo, esto sin perjuicio
    del tiempo de vigencia de la garantía y mantenimiento de los equipos detallada en la cláusula Séptima y Décima
    Tercera de este Contrato.</p>



  <p class="section-title">DECIMA: APROBACIÓN DE PLANOS Y CAMBIO DE MEDIDOR.</p>
  <p><strong>EL
      PROVEEDOR</strong> tramitara ante la Autoridad administrativa competente, los documentos que resulten necesarios
    para la
    aprobación de los respectivos Planos y posteriormente obtener el cambio de medidor por parte de la Empresa
    Distribuidora, conforme a lo siguiente:</p>
  <p>10.1 <strong>EL
      PROVEEDOR</strong> presentará ante las entidades administrativas competentes (Municipio y Bomberos), la
    documentación relativa al proyecto junto con los Planos confeccionados y sellados por Profesional idóneo.</p>
  <p>10.2 Para el proceso de cambio de medidor, una vez aprobados los planos e instalado el sistema, <strong>EL
      PROVEEDOR</strong>
    solicitará a la Empresa Distribuidora dar conformidad a la instalación del medidor bidireccional, adjuntando la
    documentación requerida conforme a la Resolución AN No. 10206-Elec de 11 de julio de 2016, proferida por la
    Autoridad Nacional de Servicios Públicos (ASEP).</p>


  <p class="section-title">DECIMA PRIMERA: SUMINISTRO DE EQUIPOS.</p>
  <p><strong>EL
      PROVEEDOR</strong> suministrará en el Sitio de Instalación los Equipos en la fecha acordada entre las
    <strong>PARTES</strong>,
    entendiéndose por tanto que la propiedad de los Equipos será del <strong>CLIENTE</strong>. Este suministro se regirá
    por las reglas
    establecidas a continuación:
  </p>
  <ul>
    <li>11.1 Los Equipos deberán ser nuevos, no reparados ni renovados.</li>
    <li>11.2 El PROVEEDOR efectuará la entrega de los Equipos en el Sitio de Instalación. </li>
    <li>11.3 De la entrega de los Equipos se levantará un acta suscrita por ambas PARTES.</li>
  </ul>



  <p class="section-title">DECIMA SEGUNDA: INSTALACIÓN DE LOS EQUIPOS.</p>
  <p>Será responsabilidad del <strong>PROVEEDOR</strong> la instalación de los Equipos en los términos establecidos en
    el presente
    Contrato y en la fecha acordada entre las <strong>PARTES</strong>. Esta instalación se regirá por las siguientes
    reglas:</p>
  <p>12.1 <strong>El CLIENTE</strong> se compromete a ejecutar, por su cuenta y responsabilidad, todas las labores de
    mantenimiento preventivo
    necesarias en el techo del inmueble dentro del Área del Proyecto, tales como el sellado de goteras, corrección de
    filtraciones, y cualquier otro trabajo requerido para asegurar que dicho techo se encuentre en condiciones adecuadas
    y seguras para la instalación del sistema fotovoltaico. Estas labores deberán ser completadas antes del inicio de la
    instalación de los <strong>EQUIPOS</strong>, y no forman parte de los servicios contratados con el
    <strong>PROVEEDOR</strong>. No obstante, si el
    <strong>CLIENTE</strong> lo solicita, el <strong>PROVEEDOR</strong> podrá emitir una cotización independiente para
    la ejecución de dichos trabajos de
    mantenimiento.
  </p>
  <p>12.2 <strong>EL CLIENTE</strong> deberá permitir el acceso al Sitio de Instalación del personal y herramientas del
    <strong>PROVEEDOR</strong>. Dicho
    personal y herramientas deberán estar adecuadamente identificadas.
  </p>
  <p>12.3 Una vez instalados los Equipos, el <strong>PROVEEDOR</strong> realizará las pruebas de funcionamiento
    pertinentes con la
    presencia del <strong>CLIENTE</strong>, las cuales podrán llevarse a cabo en una o varias etapas.</p>
  <p>12.4 Los <strong>EQUIPOS</strong> y la instalación de estos deberán cumplir los parámetros de calidad establecidos
    en las disposiciones
    legales y reglamentarias pertinentes, en el presente Contrato, y en los respectivos manuales de funcionamiento de
    los <strong>EQUIPOS</strong>.</p>
  <p>12.5 Sin perjuicio de la responsabilidad que le atañe al fabricante de los <strong>EQUIPOS</strong> y con las
    salvedades que se hacen más
    adelante en este Contrato, el <strong>PROVEEDOR</strong> responderá por la calidad, idoneidad y funcionamiento de
    los Equipos por el
    término descrito en la cláusula Séptima de este Contrato, a partir de su instalación.</p>
  <p>12.6 En caso de que se aplique la garantía de los Equipos el <strong>PROVEEDOR</strong> deberá reparar o reemplazar
    el mismo sin costo
    alguno para el <strong>CLIENTE</strong>, en un plazo máximo de treinta (30) días hábiles. En caso de que este plazo
    se requiera
    prorrogar por causas no imputables al <strong>PROVEEDOR</strong>, éste deberá notificar al <strong>CLIENTE</strong>
    en un máximo de veinticuatro (24)
    horas de conocida la situación.</p>



  <p class="section-title">DECIMA TERCERA: FASE DE MANTENIMIENTO DE LOS EQUIPOS.</p>
  <p>Terminada la Fase de instalación de los Equipos, el <strong>PROVEEDOR</strong> realizará el mantenimiento
    preventivo y correctivo de
    los Equipos cada seis (6) meses. Dicho mantenimiento se regirá por las siguientes reglas:</p>
  <p>13.1 <strong>EL CLIENTE</strong> se obliga a permitir que el personal destinado por el <strong>PROVEEDOR</strong>
    acceda al lugar en que los Equipos
    se encuentran ubicados con el fin de realizar el mantenimiento de los mismos.

    13.2 <strong>EL CLIENTE</strong> no deberá alterar en forma alguna los Equipos sin la autorización previa y escrita
    del <strong>PROVEEDOR</strong>.</p>
  <p>13.3 Cualquier cambio de ubicación de los Equipos deberá ser asumido por el <strong>CLIENTE</strong>, incluyendo
    los costos y gastos
    de dicho cambio, y autorizado previamente y por escrito por el <strong>PROVEEDOR</strong>, el cual podrá prestar su
    colaboración al
    respecto.</p>
  <p>13.4 El <strong>PROVEEDOR</strong> reconocerá el primer año de mantenimiento gratuito a favor del
    <strong>CLIENTE</strong>, el cual incluye dos
    visitas técnicas y limpieza de paneles cada seis (6) meses. Pasado este plazo, el <strong>CLIENTE</strong> pagará
    los servicios de
    mantenimiento semestrales del <strong>PROVEEDOR</strong>, los cuales tendrán un costo de {{monto_letras}}
    <strong>BALBOAS</strong> {{monto_numero}}
    por cada mantenimiento. <strong>EL PROVEEDOR</strong> mantendrá el precio de mantenimiento por los primeros cinco
    (5) años, pudiendo
    ser ajustado cada cinco (5) años, en cuyo caso no deberá superar el 10% del precio de mantenimiento convenido,
    debiendo justificar dicho aumento.
  </p>
  <p><strong>13.5 Notificación de Ajustes:</strong> Cualquier ajuste al precio del mantenimiento será notificado a
    <strong>EL
      CLIENTE</strong> con al menos
    noventa (90) días de anticipación al inicio del mantenimiento. Dicha notificación incluirá el nuevo monto y la
    justificación del aumento de este.
  </p>
  <p><strong>13.6 Mantenimientos Adicionales:</strong> De igual forma, <strong>EL PROVEEDOR</strong> sugerirá realizar
    mantenimientos adicionales en caso de
    efectos climáticos que puedan ocasionar perdida del rendimiento de los paneles, como por ejemplo fenómeno del polvo
    de Sahara, o similares. </p>


  <p class="section-title">DECIMA CUARTA: DIRECCIONES PARA NOTIFICACIONES.</p>
  <div class="directions-section">
    <p>Las direcciones donde las <strong>PARTES</strong> recibirán todas las notificaciones que hayan de hacerse en
      virtud
      del Contrato son
      las siguientes:</p>
    <p><strong>EL PROVEEDOR</strong><br>
      Persona de contacto: Ramphis Berrocal<br>
      Teléfono: +507 6890-8337<br>
      Correo: <a href="">ramphis@volt-factory.com</a></p>
    <p><strong>EL CLIENTE</strong><br>
      Persona de contacto: {{nombre}}<br>
      Teléfono: +507 {{telefono}}<br>
      Correo: <a href="">{{correo}}</a></p>
    <p>Será obligación de cada <strong>PARTE</strong> actualizar los datos de notificación en caso de presentarse
      cualquier cambio.</p>
  </div>




  <p class="section-title">DECIMA QUINTA: CONTRATO ÚNICO Y MODIFICACIÓN.</p>
  <p>Este Contrato recoge y deja sin efecto cualquier otro acuerdo entre las <strong>PARTES</strong> respecto del
    Proyecto, Sitio de
    Instalación y Equipos y sólo podrá ser modificado por el acuerdo mutuo y por escrito de las <strong>PARTES</strong>.
  </p>



  <p class="section-title">DECIMA SEXTA:</p>
  <p>El presente Contrato se regirá por las Leyes de la República de Panamá.</p>



  <p class="section-title">DECIMA SEPTIMA: INTEGRIDAD DEL CONTRATO.</p>
  <p>Los documentos listados en este parágrafo, debidamente inicializados por las <strong>PARTES</strong> forman parte
    integral del
    Contrato (los “Documentos del Contrato”):</p>
  <ul>
    <li>Anexo 1: Acta de Entrega de Equipos</li>
    <li>Anexo 2: Acta de Entrega de Proyecto</li>
    <li>Anexo 3: Propuesta de Servicios</li>
    <li>Anexo 4: Listado de Equipos y Fichas Técnicas</li>
  </ul>
  <p>En caso de contradicción entre los Anexos del Contrato y el presente Contrato, prevalecerá lo acordado en el
    Contrato.</p>



  <p class="section-title">DECIMA OCTAVA: INTEGRIDAD DEL CONTRATO.</p>
  <p>Cualquiera de las partes tendrá el derecho de dar por terminado este Contrato de forma anticipada en caso de que la
    otra parte incurra en un incumplimiento sustancial de las obligaciones establecidas en este Contrato. Se considerará
    un "incumplimiento sustancial" cualquier violación de las obligaciones esenciales y fundamentales de este Contrato.

    Para la ejecución de la Terminación Anticipada del Contrato por Incumplimiento se tendrán las siguientes
    condiciones:</p>
  <p><strong>18.1 Notificación de Incumplimiento:</strong> En caso de que una de las partes considere que se ha
    producido un
    incumplimiento sustancial por parte de la otra parte, deberá notificar por escrito a la parte incumplidora de dicha
    violación. La notificación deberá incluir detalles específicos del incumplimiento alegado y un plazo razonable para
    remediar dicho incumplimiento.</p>
  <p><strong>18.2 Plazo para Remediar el Incumplimiento:</strong> La parte notificada dispondrá de un período de 15
    (quince) días hábiles a partir de la recepción de la notificación para remediar el incumplimiento. Durante este
    período, ambas partes se esforzarán de buena fe para resolver cualquier disputa o desacuerdo relacionado con el
    incumplimiento.</p>
  <p><strong>18.3 Terminación en Caso de Incumplimiento No Remediado:</strong> Si la parte notificada no remedia el
    incumplimiento sustancial dentro del plazo especificado en la notificación de incumplimiento, la parte notificante
    tendrá el derecho de dar por terminado este Contrato de forma anticipada mediante notificación por escrito a la
    parte incumplidora. La terminación surtirá efecto a partir de la fecha de recepción de la notificación de
    terminación.</p>
  <p><strong>18.4 Derechos y Obligaciones Posteriores a la Terminación:</strong> La terminación anticipada de este
    Contrato por incumplimiento no eximirá a la parte incumplidora de su responsabilidad con respecto a las obligaciones
    o indemnizaciones pendientes estipuladas en este Contrato. Las partes conservarán todos los derechos y recursos
    disponibles en virtud de la ley para hacer cumplir los términos y condiciones de este Contrato y buscar reparaciones
    por cualquier daño o pérdida incurrida debido al incumplimiento.</p>
  <p><strong>18.5 Acuerdo Completo:</strong> Esta Cláusula de Terminación Anticipada por Incumplimiento del Contrato
    constituye el único medio para dar por terminado este Contrato en caso de incumplimiento y prevalecerá sobre
    cualquier disposición en conflicto en el presente Contrato.</p>



  <p class="section-title">DECIMA NOVENA. RESOLUCION DE CONFLICTOS. LAS PARTES</p>
  <p>declaran que, cualquier litigio o controversia provenientes de, o relacionados con este contrato, así como la
    interpretación, aplicación, ejecución y terminación de este, deberán resolverse por medio de Arbitraje, previo
    intento de conciliación entre <strong>LAS PARTES</strong>, ante el Centro de Conciliación y Arbitraje de Panamá,
    conforme a sus
    reglas de procedimiento.

    Para constancia, <strong>LAS PARTES</strong> firman el presente documento en la ciudad de Panamá, en dos ejemplares
    del mismo
    contenido y valor el día {{dia}} del mes de {{mes}} del {{anio}}.</p>
  <table class="signature-table">
    <tr>
      <td>
        <strong>EL CLIENTE</strong><br /><br /><br />
        ___________________________<br />
        <strong>{{nombre}} {{numero_doc}}</strong><br />
      </td>
      <td>
        <strong>EL PROVEEDOR</strong><br /><br /><br />
        ___________________________<br />
        <strong>MONSERRAT HAYDEE ROBLES GUARDIA</strong><br />
        Representante Legal<br />
        Robles Berrocal Investments, S.A.<br />
        (VOLT-FACTORY)
      </td>
    </tr>
  </table>




  <div class="page-break"></div>

  <br><br><br><br>
  <p class="section-title">Anexo 1:</p>
  <h2>Acta de Entrega de Equipos</h2>
  <ul>
    <li>Fecha de Entrega:___________________</li>
    <li>Responsable de la Entrega: _________________________</li>
    <li>Responsable de la Recepción:________________________
    </li>
  </ul>
  <p class="section-title">1. Detalles de la Entrega</p>
  <p>A continuación, se detallan los elementos entregados:</p>

  <table>
    <thead>
      <tr>
        <th>Equipo</th>
        <th>Cantidad</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      {{equipos_html}}
    </tbody>
  </table>

  <p class="section-title">2. Firma de Confirmación</p>
  <p>La parte receptora confirma la entrega conforme y acepta los elementos enlistados los cuales se encuentran en
    perfecto estado.</p>
  <ul>
    <li>Firma del Responsable de la Recepción: <br /><br />_______________________________</li><br />
    <li>Firma del Responsable de la Recepción: <br /><br />_______________________________</li><br />
    <li>Fecha: ________________________</li>
  </ul>




  <div class="page-break"></div>


  <p class="section-title">Anexo 2:</p>
  <h2><strong>ACTA DE ENTREGA DE PROYECTO</strong></h2>
  <p>En la ciudad de {{ubicacion}}, a los {{dia}} días del mes de {{mes}} de {{anio}}, comparecen ante el presente
    acto:<br />
    <strong>El CLIENTE y EL PROVEEDOR</strong>, acuerdan la presente Acta de Entrega de Proyecto en virtud del Contrato
    de Servicios para
    el Diseño, Tramitación, Suministro e Instalación de una Planta Solar Fotovoltaica de Autoconsumo de
    <strong>producción anual {{produccion_anual}}Kw/Año</strong>, celebrado el ____________ y que ha sido regido por los
    términos y condiciones establecidos en
    el mencionado contrato (en adelante, el "Contrato").
  </p>
  <p class="section-title">ANTECEDENTES:</p>
  <p>Mediante el Contrato mencionado, <strong>EL PROVEEDOR</strong> se comprometió a llevar a cabo el diseño,
    tramitación, suministro,
    instalación y puesta en marcha de una Planta Solar Fotovoltaica de Autoconsumo de <strong>producción anual
      {{produccion_anual}}Kw/Año</strong>, en el lugar
    de instalación definido en el Contrato (en adelante, "el Proyecto").</p>

  <p class="section-title">DECLARACIONES:</p>
  <p>
    1. <strong>EL CLIENTE</strong> manifiesta que está satisfecho con la ejecución completa del Proyecto por parte de
    <strong>EL PROVEEDOR</strong>, de
    acuerdo con las especificaciones técnicas, los plazos y los requisitos establecidos en el Contrato.
    2. <strong>EL CLIENTE</strong> declara que ha recibido y aceptado la entrega de todos los equipos y componentes
    relacionados con el
    Proyecto, según lo estipulado en la Cláusula Tercera del Contrato, y que se encuentran en condiciones óptimas y de
    acuerdo con las características acordadas.
    3. <strong>EL CLIENTE</strong> confirma que se ha llevado a cabo la puesta en marcha del sistema de manera
    satisfactoria, y que el
    funcionamiento de la Planta Solar Fotovoltaica de Autoconsumo de <strong>producción anual
      {{produccion_anual}}Kw/Año</strong>, cumple con sus expectativas y
    necesidades.
    4. <strong>EL CLIENTE</strong> ha recibido el cambio al medidor bidireccional por parte de la Empresa Distribuidora,
    y el sistema de
    inyección se encuentra en funcionamiento.</p>

  <p class="section-title">ENTREGA Y ACEPTACIÓN:</p>
  <p>En virtud de lo anteriormente expuesto, <strong>EL CLIENTE</strong> declara de manera formal y por escrito que ha
    recibido y
    aceptado la entrega completa y satisfactoria del Proyecto descrito en el Contrato, incluyendo todos los equipos,
    componentes y servicios relacionados.</p>
  <p class="section-title">CONFORMIDAD:</p>
  <p>Ambas partes manifiestan su conformidad con la ejecución y entrega del Proyecto, y reconocen que no existen
    pendientes ni reclamaciones relacionadas con el mismo.</p>

  <table class="signature-table">
    <tr>
      <td>
        <strong>EL CLIENTE</strong><br /><br /><br />
        ___________________________<br />
        <strong>{{nombre}} {{numero_doc}}</strong><br />
      </td>
      <td>
        <strong>EL PROVEEDOR</strong><br /><br /><br />
        ___________________________<br />
        <strong>MONSERRAT HAYDEE ROBLES GUARDIA</strong><br />
        Representante Legal<br />
        Robles Berrocal Investments, S.A.<br />
        (VOLT-FACTORY)
      </td>
    </tr>
  </table>


  <div class="page-break"></div>


  <p class="section-title">Anexo 4:</p>
  <h2><strong>LISTADO DE EQUIPOS Y ESPECIFICACIONES TÉCNICAS</strong></h2>
  <h2><strong>EQUIPOS A SUMINISTRAR E INSTALAR BAJO EL PRESENTE CONTRATO:</strong></h2>

  <table>
    <tr>
      <th><strong>Equipo</strong></th>
      <th><strong>Descripción y Potencia Nominal</strong></th>
      <th><strong>Marcas de Referencia</strong></th>
      <th><strong>Observaciones</strong></th>
    </tr>
    <tr>
      <td><strong>Módulos Solares Fotovoltaicos</strong></td>
      <td>Potencia aproximada entre 600W y 640W, eficiencia conforme a estándares internacionales, estructura de marco
        de aluminio anodizado.</td>
      <td>Longi, JA Solar, Canadian Solar, Trina Solar, Jinko o cualquier otra marca comercializada en Panamá que sea de
        igual calidad técnica y certificaciones equivalentes.</td>
      <td>Se adjuntan fichas técnicas de referencia. El PROVEEDOR podrá suministrar módulos de cualquiera de estas
        marcas, garantizando siempre especificaciones técnicas iguales o superiores a las aquí descritas.</td>
    </tr>
    <tr>
      <td><strong>Microinversores</strong></td>
      <td>Potencia nominal por unidad 2000W, eficiencia ≥96.5%, grado de protección IP67, compatibilidad con monitoreo
        remoto.</td>
      <td>Hoymiles, ApSystem</td>
      <td>Se adjuntan fichas técnicas de referencia. El PROVEEDOR garantiza que todos los microinversores serán nuevos,
        de fabricación original y con certificaciones internacionales vigentes.
      </td>
    </tr>
    <tr>
      <td><strong>Estructura de Montaje</strong></td>
      <td>Sistema de perfiles de aluminio anodizado o galvanizado, resistencia a cargas de viento de hasta 160km/h,
        cumplimiento de normas internacionales de seguridad.</td>
      <td>Fabricantes certificados</td>
      <td>Ajustado al tipo de techo e instalación indicada en el diseño.</td>
    </tr>
    <tr>
      <td><strong>Cableado y Conectores</strong></td>
      <td>Cableado solar tipo PV1-F sección 4mm² o superior, aislante UV y temperatura, conectores tipo MC4 con grado de
        protección IP68.</td>
      <td>Fabricantes certificados</td>
      <td>Cumplimiento con normas NEC 2020.</td>
    </tr>
  </table>

  <p class="section-title">CONDICIÓN GENERAL:</p>
  <p>El <strong>PROVEEDOR</strong> se compromete a que todos los equipos instalados cumplan o superen las
    especificaciones técnicas aquí
    señaladas y cuenten con certificaciones de calidad y seguridad aplicables en la República de Panamá, así como con
    las normas NEC 2020 vigentes para instalaciones eléctricas fotovoltaicas.

    Cualquier sustitución por otra marca por agotamiento o cambios de inventarios, deberá garantizar igual o superior
    calidad técnica y se notificará al <strong>CLIENTE</strong> de forma previa a la instalación, adjuntando la ficha técnica
    correspondiente.

    En ningún caso, el requerimiento de cambio en el modelo de panel, inversor o estructura, esto no representará un
    aumento en los costos contratados con el cliente para la ejecución del proyecto.</p>

  <h2>*SE ADJUNTA FICHA TECNICA DE EQUIPOS*</h2>


</body>

</html>